 body{
    margin: 0px;
    background-color: aliceblue;
}
.container{
    position: relative;
    margin: auto;
    width: 960px;
    border-radius:8px;
}
.container a{
    width: 7%;
    float: top;
    font-family: sans-serif;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    border:1px solid; 
    background-color: rgb(162, 233, 165);
    border-radius: 15px;
    text-decoration: none;

}

.title{
    padding:10px;
    border-bottom:2px solid;
    background:rgb(235, 227, 227);
    border-radius:8px;
    box-shadow:inset 3px 5px 10px rgba(0,0,0,0.2);
}

.title h1 {
    text-align: center;
    margin:10px;
    font-family:sans-serif;
    font-weight:normal;
    text-shadow:0px 0px 1px rgb(19, 3, 3);
}

.firstaddForm{
    padding:10px;
    height:440px;
    background:rgb(235, 227, 227);
    border: solid, 3px;
    border-radius:8px;
    box-shadow:inset 10px 10px 50px rgba(0,0,0,0.2);
    border-bottom: 2px solid;
}

.firstaddForm label{
    position:relative;
    display:block;
    width:300px;
    height:10px;
    float:left;
    font-family:sans-serif;
    font-size:14px;
    padding:10px;
    font-weight:bold;
}

.firstaddForm input, textarea{
    border:1px dashed;
    width:50%;
    padding:10px;
    font-weight:normal;
    border-radius:5px;
    box-shadow:inset 2px 5px 10px rgba(0,0,0,0.2);
}

#OK, #Cancel{
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    position: relative;
    left:300px;
    border:1px solid;
    border-radius:20px;
    font-weight:bold;
    font-size: 20px;
}

.footer{
    font-family: cursive;
    text-align: center;

}
.messages {
    overflow: hidden;
    float: left;
    width: 100%;
    padding: 0;

}

#messages .message {
    overflow: hidden;
    /* float: left; */
    /* border: #000 1px solid; */
    width: 100%;
}


#messages .message p {
    float: right;
    margin: auto;
    word-wrap:break-word;
}

#messages .message .name {
    margin:5px;
    float: left;
    word-wrap:break-word;
    width:150px;
}

#messages .message .email {
    float: left;
    margin: 5px;
    width: 180px;
    word-wrap:break-word;
}
#messages .message .address {
    float: left;
    margin: 5px;
    word-wrap:break-word;
    width:150px;
}

#messages .message .phone {
    float: left;
    margin: 5px;
    word-wrap: break-word;
    width: 100px;
}

#messages .message a.remove {
    width: 5%;
    float:right;
    margin-bottom: auto;
    font-family: sans-serif;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    border:1px solid; 
    background-color: rgb(211, 135, 135);
    border-radius: 15px;
    text-decoration: none;
} 

#messages .message a.edit {
    width: 5%;
    float:right;
    margin: auto;
    font-family: sans-serif;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    background-color: rgb(119, 103, 190);
    border:1px solid; 
    border-radius: 15px;
    text-decoration: none;
} 

/* #messages .message a,  */
/* #messages .message span,  */
#messages .message p {
    float: left;
    margin: 5px;
    width: 150px;
    /* padding: 2px; */
    word-wrap:break-word;
}

